/* body {
  font-family: sans-serif;
}*/

#collapseButton {
  opacity: 100%;
  transition: opacity 1s;
}

#collapseButton:hover {
  opacity: 0%;
  transition: opacity 0.1s;
}

.imgSliders {
  width: 50vw;
  height: 50vw;
  max-width: 450px;
  max-height: 450px;
  object-fit: contain;
  margin: auto;
}

.login-form-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.login-bg {
  background: url('/images/loginBg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.photoRemoveButton:hover {
  cursor: pointer;
}

.viewallMax {
  max-height: 350px;
}

@media (min-width: 768px) {
  .viewallMax {
    max-height: 160px;
  }
}

.contain {
  object-fit: contain;
}

.footerSpacing {
  margin-bottom: 85px !important;
}
