body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.singleItem {
  width: 400px;
}

.singleItemImg {
  width: 150px;
  height: 150px;
}

/* .singleItemInfo {
  height: 150px;
} */
